@model UserDetailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Surname</td>
    <td>@Model.Email</td>
    <td>@Model.UserName</td>
</head>
<body>
</body>
</html>
