@model List<UserDetailViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Tüm Kullanıcı Bilgileri</div>
	</div>
	<div class="card-body">
		<table class="table table-head-bg-success">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Ad</th>
					<th scope="col">SoyAd</th>
					<th scope="col">Kullanıcı Adı</th>
					<th scope="col">Mail</th>
					<th scope="col">Adres</th>
					

				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					count++;
					<tr>
						<td>@count</td>
						<td>@item.Name</td>
						<td>@item.Surname</td>
						<td>@item.UserName</td>
						<td>@item.Email</td>
						<td><a href="/Admin/Message/MessageDetail/@item.Id" class="btn btn-primary">Kargo Adresi Detayı..</a></td>		
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

