@model List<ResultFeatureSliderDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Öne Çıkan Kapak Fotoğrafları Kısmı</div>
	</div>
	<div class="card-body">
		<table class="table table-head-bg-success">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Başlık</th>
					<th scope="col">Görsel Yolu</th>
					<th scope="col">Açıklama</th>
					<th scope="col">Durumu</th>
					<th scope="col">Öne Çıkma Durumu</th>
					<th scope="col">Sil</th>
					<th scope="col">Güncelle</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					count++;
					<tr>
						<td>@count</td>
						<td>@item.Title</td>
						<td>@item.ImageUrl</td>
						@if(item.Description.Length > 25)
						{
							<td>@item.Description.Substring(0,25)..</td>
						}
						else
						{
							<td>@item.Description</td>
						}
						@if (item.Status == true)
						{
							<td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round"></td>
						}
						else
						{
							<td><input type="checkbox" checked data-toggle="toggle" data-onstyle="warning" data-style="btn-round"></td>
						}

						@if (item.Featured==true)
						{
							<td><input type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round"></td>
						}
						else
						{
							<td><input type="checkbox" checked data-toggle="toggle" data-onstyle="warning" data-style="btn-round"></td>

						}
						<td><a href="/Admin/FeatureSlider/DeleteFeatureSlider/@item.FeatureSliderId" class="btn btn-danger">Sil</a></td>
						<td><a href="/Admin/FeatureSlider/UpdateFeatureSlider/@item.FeatureSliderId" class="btn btn-success">Güncelle</a></td>
					</tr>
				}

			</tbody>
		</table>
		<a href="/Admin/FeatureSlider/CreateFeatureSlider" class="btn btn-info">Öne Çıkan Ekle</a>
	</div>
</div>

